---
- name: Check if nvm is installed
  command: which nvm
  register: find_nvm
  ignore_errors: true
- name: Install nvm and node
  shell: |
    curl -o- https://raw.githubusercontent.com/nvm-sh/nvm/v0.40.3/install.sh | bash
    export NVM_DIR="$([ -z "${XDG_CONFIG_HOME-}" ] && printf %s "${HOME}/.nvm" || printf %s "${XDG_CONFIG_HOME}/nvm")"
    [ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"
    nvm install lts/*
  when: find_nvm is failed
- name: Check if node is installed
  command: which node
  register: find_node
  when: find_nvm is succeeded
  ignore_errors: true
- name: Install node with nvm
  command: nvm install lts/*
  when: find_node is failed
