---
- name: Check if nvm is installed
  command: which nvm
  register: find_nvm
  ignore_errors: true
- name: Install nvm
  shell: curl -o- https://raw.githubusercontent.com/nvm-sh/nvm/v0.40.3/install.sh | bash
  when: find_nvm is failed
- name: Check if node is installed
  command: which node
  register: find_node
  ignore_errors: true
- name: Install node with nvm
  command: nvm install lts/*
  when: find_node is failed
